<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>OC_GAN</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
  <!-- カメラ映像が描画されます。 -->
  <video id="video_area" style="background-color: #000" autoplay muted playsinline></video></br>
  <!-- 押下するとカメラ映像から静止画をキャプチャします。 -->
  <button id="cap_botton1" onclick="copyFrame(0)">ピカソ</button>
  <!-- 押下するとカメラ映像から静止画をキャプチャします。 -->
  <button id="cap_botton2" onclick="copyFrame(1)">ゴッホ</button>
  <!-- 押下するとカメラ映像から静止画をキャプチャします。 -->
  <button id="cap_botton3" onclick="copyFrame(2)">ムンク</button>
  <!-- キャプチャした静止画が描画されます。 -->
  <canvas id="capture_image"></canvas>

  <div id="original">
  <!--  <img src="{{ capture_img }}"> -->
  </div>
  <div id="generate">
    <img src="{{ generate_img }}">
  </div>

  <img src="/images/style_images/picasso.jpg">
  <img src="/images/style_images/gogh.png">
  <img src="/images/style_images/munch.jpg">
</body>
<script>

    // getUserMedia が使えないときは、『getUserMedia()が利用できないブラウザです！』と言ってね。
    if (typeof navigator.mediaDevices.getUserMedia !== 'function') {
        const err = new Error('getUserMedia()が利用できないブラウザです！');
        alert(`${err.name} ${err.message}`);
        throw err;
    }

    // 操作する画面エレメント変数定義します。
    const $video = document.getElementById('video_area');  // 映像表示エリア

    // 「スタートボタン」を押下したら、getUserMedia を使って映像を「映像表示エリア」に表示してね。
    navigator.mediaDevices.getUserMedia({ video: true, audio: false })
    .then(stream => $video.srcObject = stream)
    .catch(err => alert(`${err.name} ${err.message}`));


    // 「静止画取得」ボタンが押されたら「<canvas id="capture_image">」に映像のコマ画像を表示します。
    function copyFrame(id) {

        var canvas_capture_image = document.getElementById('capture_image');
        var generate_image = document.getElementById('generate_image');
        var cci = canvas_capture_image.getContext('2d');
        var va = document.getElementById('video_area');
        var btn1 = document.getElementById('cap_botton1');
        var btn2 = document.getElementById('cap_botton2');
        var btn3 = document.getElementById('cap_botton3');

        va.style.display="none"
        btn1.style.display="none"
        btn2.style.display="none"
        btn3.style.display="none"

        canvas_capture_image.width  = va.videoWidth;
        canvas_capture_image.height = va.videoHeight;
        cci.drawImage(va, 0, 0);  // canvasに『「静止画取得」ボタン』押下時点の画像を描画。

        const base64_png = canvas_capture_image.toDataURL("image/png");
        const fd = new FormData();
        fd.append("image", base64_png);
        var base_url = null;
        if(id == 0) {
          //base_url = "http://172.21.39.229:5000/picasso";
          base_url = "http://localhost:5000/wave";
        } else if (id == 1) {
          base_url = "http://172.21.39.229:5000/gogh";
        } else if (id == 2) {
          base_url = "http://172.21.39.229:5000/munch";
        }

        $.ajax({
            url: base_url,
            type:'POST',
            data : fd,
            processData: false,
            contentType: false,
            success: function(data) {
              //$('#original img').attr('src', data.org_url );
              $('#generate img').attr('src', data.gen_url );
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              alert("error");
            }
        });
    }
</script>
</html>
