<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>OC_GAN</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
  <!-- カメラ映像が描画されます。 -->
  <video id="video_area" style="background-color: #000" autoplay></video>
  <!-- 押下するとカメラ映像から静止画をキャプチャします。 -->
  <button id="cap_botton" onclick="startCopyFrame()">静止画取得</button>
  <!-- キャプチャした静止画が描画されます。 -->
  <canvas id="capture_image"></canvas>

  <div id="original">
    <img src="{{ capture_img }}">
  </div>
  <div id="generate">
    <img src="{{ generate_img }}">
  </div> 
</body>
<script>

    // getUserMedia が使えないときは、『getUserMedia()が利用できないブラウザです！』と言ってね。
    if (typeof navigator.mediaDevices.getUserMedia !== 'function') {
        const err = new Error('getUserMedia()が利用できないブラウザです！');
        alert(`${err.name} ${err.message}`);
        throw err;
    }

    // 操作する画面エレメント変数定義します。
    const $video = document.getElementById('video_area');  // 映像表示エリア

    // 「スタートボタン」を押下したら、getUserMedia を使って映像を「映像表示エリア」に表示してね。
    navigator.mediaDevices.getUserMedia({ video: true, audio: false })
    .then(stream => $video.srcObject = stream)
    .catch(err => alert(`${err.name} ${err.message}`));

    function startCopyFrame(){
        setInterval("copyFrame()", 500);
    }

    // 「静止画取得」ボタンが押されたら「<canvas id="capture_image">」に映像のコマ画像を表示します。
    function copyFrame() {

        var canvas_capture_image = document.getElementById('capture_image');
        var generate_image = document.getElementById('generate_image');
        var cci = canvas_capture_image.getContext('2d');
        var va = document.getElementById('video_area');
        var btn = document.getElementById('cap_botton');

        //va.style.display="none"
        //btn.style.display="none"

        canvas_capture_image.width  = va.videoWidth;
        canvas_capture_image.height = va.videoHeight;
        cci.drawImage(va, 0, 0);  // canvasに『「静止画取得」ボタン』押下時点の画像を描画。

        const base64_png = canvas_capture_image.toDataURL("image/png");
        const fd = new FormData();
        fd.append("image", base64_png);
        const BASE_URL = "http://localhost:5000/picass";
  
        $.ajax({
            url: BASE_URL,
            type:'POST',
            data : fd,
            processData: false,
            contentType: false, 
            success: function(data) {
              $('#original img').attr('src', data.org_url );
              $('#generate img').attr('src', data.gen_url );
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              alert("error");
            }
        });
    }
</script>
</html>
